services:
  cassandra:
    profiles: ["local"]
    image: cassandra:5
    container_name: cassandra
    restart: on-failure
    environment:
      JVM_EXTRA_OPTS: "-javaagent:/opt/jmx_exporter/jmx_exporter.jar=9500:/opt/jmx_exporter/prometheus.yaml"
      CASSANDRA_USER: ${CASSANDRA_USER}
      CASSANDRA_PASSWORD: ${CASSANDRA_PASSWORD}
      CASSANDRA_BROADCAST_ADDRESS: cassandra
      JVM_OPTS: -Dcom.sun.management.jmxremote.port=7199 -Dcom.sun.management.jmxremote.rmi.port=7199 -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -Djava.rmi.server.hostname=cassandra
    ports:
      - "${CASSANDRA_PORT}:9042"
      - "7199:7199"
      - "9500:9500"
    volumes:
      - ./cassandra:/docker-entrypoint-initdb.d
      - cassandra_data:/var/lib/cassandra
      - ./jmx_exporter/jmx_exporter.jar:/opt/jmx_exporter/jmx_exporter.jar
      - ./jmx_exporter/prometheus.yaml:/opt/jmx_exporter/prometheus.yaml
    healthcheck:
      test: [ "CMD", "cqlsh", "-u", "${CASSANDRA_USER}", "-p", "${CASSANDRA_PASSWORD}", "-e", "DESCRIBE KEYSPACES" ]
      start_period: 90s
      interval: 30s
      timeout: 20s
      retries: 5
    networks:
      - telemetry-net

  cassandra-init:
    profiles: ["local"]
    image: cassandra:5
    container_name: cassandra-init
    depends_on:
      cassandra:
        condition: service_healthy
    volumes:
      - ./cassandra/create_table.cql:/script.cql
    command: >
      bash -c "
      cqlsh cassandra -u $${CASSANDRA_USER} -p $${CASSANDRA_PASSWORD} -f /script.cql
      "
    environment:
      CASSANDRA_USER: ${CASSANDRA_USER}
      CASSANDRA_PASSWORD: ${CASSANDRA_PASSWORD}
    networks:
      - telemetry-net

  zookeeper:
    profiles: ["local"]
    image: bitnami/zookeeper:3.8
    container_name: zookeeper
    environment:
      ALLOW_ANONYMOUS_LOGIN: yes
    ports:
      - "${ZOOKEEPER_PORT}:2181"
    healthcheck:
      test: [ "CMD", "/opt/bitnami/zookeeper/bin/zkCli.sh", "ls", "/" ]
      start_period: 20s
      interval: 10s
      timeout: 10s
      retries: 3
    networks:
      - telemetry-net

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    profiles: ["local"]
    hostname: kafka
    container_name: kafka
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "${KAFKA_PORT}:9093"
    environment:
      KAFKA_BROKER_ID: ${KAFKA_BROKER_ID}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: ${KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR}
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: ${KAFKA_TRANSACTION_STATE_LOG_MIN_ISR}
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: ${KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR}
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: EXTERNAL://kafka:9092,INTERNAL://localhost:9093
      KAFKA_LISTENERS: EXTERNAL://0.0.0.0:9092,INTERNAL://0.0.0.0:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: ${KAFKA_REPLICATION_FACTOR}
      KAFKA_CREATE_TOPICS: "telemetry-dlt:1:1"
    healthcheck:
      test: [ "CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list" ]
      start_period: 20s
      interval: 10s
      timeout: 10s
      retries: 3
    networks:
      - telemetry-net

  schema-registry:
    profiles: ["local"]
    image: confluentinc/cp-schema-registry:7.4.0
    hostname: schema-registry
    container_name: schema-registry
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "${SCHEMA_REGISTRY_PORT}:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: ${SCHEMA_REGISTRY_HOST_NAME}
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: ${SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS}
      SCHEMA_REGISTRY_LISTENERS: ${SCHEMA_REGISTRY_LISTENERS}
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081/subjects" ]
      start_period: 20s
      interval: 10s
      timeout: 10s
      retries: 3
    networks:
      - telemetry-net

  prometheus:
    profiles:
      - local
      - prod
    build: ./prometheus
    container_name: prometheus
    ports:
      - "${PROMETHEUS_PORT}:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9090/-/healthy" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - telemetry-net

  grafana:
    profiles:
      - local
      - prod
    image: grafana/grafana:12.0.2
    container_name: grafana
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
      GF_FEATURE_TOGGLES_ENABLE: "lokiLive"
    ports:
      - "${GRAFANA_PORT}:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/api/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - telemetry-net

  loki:
    profiles:
      - local
      - prod
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "${LOKI_PORT}:3100"
    command: -config.file=/etc/loki/local-config.yaml
    healthcheck:
      test: [ "CMD-SHELL", "wget -q --spider http://localhost:3100/ready || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s
    volumes:
      - loki_data:/loki
    networks:
      - telemetry-net

  postgres:
    profiles: ["local"]
    restart: on-failure
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_URL: ${POSTGRES_URL}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./postgres_data:/var/lib/postgresql
    ports:
      - ${POSTGRES_PORT}:5432
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - telemetry-net

  postgres-exporter:
    profiles: ["local"]
    image: wrouesnel/postgres_exporter
    container_name: postgres-exporter
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      DATA_SOURCE_NAME: "postgresql://postgres:postgres@postgres:5432/telemetry-aggregator-local?sslmode=disable"
    ports:
      - "9187:9187"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - telemetry-net

  telemetry-collector-local:
    profiles: ["local"]
    container_name: telemetry-collector
    build: ./telemetry-collector
    restart: on-failure
    env_file:
      - .env.local
    environment:
      SPRING_PROFILES_ACTIVE: dev
    depends_on:
      cassandra:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
      loki:
        condition: service_healthy
      grafana:
        condition: service_healthy
      prometheus:
        condition: service_healthy
    deploy:
      replicas: 1
    ports:
      - "8080:8080"
    networks:
      - telemetry-net

  telemetry-collector-prod:
    profiles: [ "prod" ]
    container_name: telemetry-collector
    build: ./telemetry-collector
    restart: on-failure
    env_file:
      - .env.prod
    deploy:
      replicas: 1
    expose:
      - "8080"
    networks:
      - telemetry-net

  telemetry-generator-prod:
    profiles: [ "prod" ]
    container_name: telemetry-generator
    build: ./telemetry-producer
    restart: on-failure
    env_file: .env.prod
    depends_on:
      loki:
        condition: service_healthy
      grafana:
        condition: service_healthy
      prometheus:
        condition: service_healthy
    networks:
      - telemetry-net

  telemetry-generator-local:
    build: ./telemetry-producer
    profiles: ["local"]
    container_name: telemetry-generator
    restart: on-failure
    env_file: .env.local
    depends_on:
      schema-registry:
        condition: service_healthy
      temporal:
        condition: service_started
      loki:
        condition: service_healthy
      grafana:
        condition: service_healthy
      prometheus:
        condition: service_healthy
    networks:
      - telemetry-net

  notification-collector-local:
    build:
      context: ./notification-collector
      dockerfile: Dockerfile
    profiles: ['local']
    container_name: notification_collector
    restart: on-failure
    env_file: .env.local
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
      temporal:
        condition: service_started
      loki:
        condition: service_healthy
      grafana:
        condition: service_healthy
      prometheus:
        condition: service_healthy
    networks:
      - telemetry-net

  notification-collector-prod:
    profiles: [ "prod" ]
    container_name: notification-collector
    build:
      context: ./notification-collector
      dockerfile: Dockerfile
    restart: on-failure
    env_file: .env.prod
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
      temporal:
        condition: service_started
      loki:
        condition: service_healthy
      grafana:
        condition: service_healthy
      prometheus:
        condition: service_healthy
    networks:
      - telemetry-net

  telemetry-aggregator-prod:
    profiles: [ "prod" ]
    build: ./telemetry-aggregator
    container_name: telemetry-aggregator
    restart: on-failure
    env_file: .env.prod
    expose:
      - "8080"
    depends_on:
      loki:
        condition: service_healthy
      grafana:
        condition: service_healthy
      prometheus:
        condition: service_healthy
    networks:
      - telemetry-net

  telemetry-aggregator-local:
    profiles: [ "local" ]
    build: ./telemetry-aggregator
    container_name: telemetry-aggregator
    restart: on-failure
    env_file: .env.local
    ports:
      - "8082:8080"
    depends_on:
      cassandra:
        condition: service_healthy
      cassandra-init:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
      loki:
        condition: service_healthy
      grafana:
        condition: service_healthy
      prometheus:
        condition: service_healthy
    networks:
      - telemetry-net

  temporal:
    image: temporalio/auto-setup:1.22.3
    profiles: ["local"]
    container_name: telemetry-producer-temporal
    ports:
      - "${TEMPORAL_EXTERNAL_GRPC_PORT:-7233}:7233"
      - "${TEMPORAL_EXTERNAL_UI_PORT:-8233}:8233"
    depends_on:
      cassandra:
        condition: service_healthy
    environment:
      - DB=cassandra
      - CASSANDRA_SEEDS=cassandra
    volumes:
      - temporal_data:/temporal
    networks:
      - telemetry-net

  prozy-api-prod:
    profiles: ["prod"]
    build:
      context: ./prozy-api
      dockerfile: Dockerfile
    container_name: prozy-api
    restart: on-failure
    env_file:
      - .env.prod
    ports:
      - "${PROZY_API_PORT}:${PROZY_API_PORT}"

  prozy-api-local:
    profiles: ["local"]
    build:
      context: ./prozy-api
      dockerfile: Dockerfile
    container_name: prozy-api
    restart: on-failure
    depends_on:
      - keycloak-local
    env_file:
      - .env.local
    ports:
      - "${PROZY_API_PORT}:${PROZY_API_PORT}"
    networks:
      - telemetry-net

  keycloak-local:
    profiles: ["local"]
    image: quay.io/keycloak/keycloak:26.2
    container_name: prozy-keycloak
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_BOOTSTRAP_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD}
    command: ["start-dev", "--import-realm"]
    ports:
      - "${KC_HOST_PORT}:${KC_LOCAL_PORT}"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:18080 || exit 1" ]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 40s
    volumes:
      - keycloak_data:/opt/keycloak/data
      - ./prozy-api/keycloak/imports:/opt/keycloak/data/import
    networks:
      - telemetry-net

volumes:
  cassandra_data:
  grafana_data:
  loki_data:
  temporal_data:
  postgres_data:
  keycloak_data:

networks:
  telemetry-net:
    driver: bridge