spring:
  application:
    name: telemetryaggregator
  sql:
    init:
      mode: always
  cassandra:
    keyspace-name: ${CASSANDRA_TELEMETRY_KEYSPACE:telemetry}
    contact-points: ${CASSANDRA_TELEMETRY_CONTACT_POINTS:cassandra}
    local-datacenter: ${CASSANDRA_TELEMETRY_LOCAL_DC:datacenter1}
    port: ${CASSANDRA_TELEMETRY_PORT:9042}
    batch-size: ${CASSANDRA_PAGE_SIZE:10000}
  datasource:
    url: ${POSTGRES_URL:jdbc:postgresql://postgres:5432/telemetry-aggregator-local}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}

management:
  endpoints:
    web:
      exposure:
        include: health, metrics, prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      access: read_only
  metrics:
    tags:
      application: ${spring.application.name}

loki:
  url:${LOKI_URL:http://loki:3100/loki/api/v1/push}
